body{
    background-color: black;
}
p, label{
    color: orange;
}

#startknop{
    color:lightgoldenrodyellow;
    background-color: darkslategrey;
    cursor: pointer;
    max-width: 5rem;
    border-radius: 0.3rem;
}

#doos{
    display: flex;
    flex-direction: row;
}

form, #cnvDiv{
    border-style: solid;
    border-color: orangered;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
}